
$primary-overlay-color:rgba(50,146,166,0.8);

@mixin overlay{
  background-color:$primary-overlay-color;
  position: absolute;
  opacity: 0.8px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#headerSection{
  position: relative;
  background:url("https://i.natgeofe.com/n/1fcbc190-9968-4466-93b4-f32241c835e3/mount-fuji-clouds-weather-japan_16x9.jpg") bottom center;
  min-height:750px ;

  .primary-overlay{
  @include overlay;
  }

  #quotes{
    i{
      opacity: 0.8px;
    }
  }

}

#gallery{
  background-color: #5a6268;
}

#mainFooter{
  background-color:#000000;
}

#image{
  background: url("https://images.unsplash.com/photo-1643139114208-aeb54ff4da72?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1092&q=80")bottom center / cover no-repeat ;
}